name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  detekt:
    name: Detekt
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup java
        uses: ./.github/actions/setup_java

      - name: Gradle cache
        uses: ./.github/actions/gradle_cache
        with:
          key: "detekt"

      - name: Run gradle
        uses: ./.github/actions/run_gradle
        with:
          gradle_command: detekt

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup java
        uses: ./.github/actions/setup_java

      - name: Gradle cache
        uses: ./.github/actions/gradle_cache
        with:
          key: "unit-tests"

      - name: Run gradle
        uses: ./.github/actions/run_gradle
        with:
          gradle_command: test allTests

  check-api:
    name: Check public api
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup java
        uses: ./.github/actions/setup_java

      - name: Gradle cache
        uses: ./.github/actions/gradle_cache
        with:
          key: "check-api"

      - name: Run gradle
        uses: ./.github/actions/run_gradle
        with:
          gradle_command: apiCheck

  assemble:
    name: Assemble
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup java
        uses: ./.github/actions/setup_java

      - name: Gradle cache
        uses: ./.github/actions/gradle_cache
        with:
          key: "assemble"

      - name: Run gradle
        uses: ./.github/actions/run_gradle
        with:
          gradle_command: assemble
